/* -------------- color codes ------------------- */
$gray: #cccccc;
$darkgray: #555555;
$white: #ffffff;
$black: #333333;

/* ---------------- font sizes -------------------- */

$font-32: 2em;
$font-28: 1.75em;
$font-24: 1.5em;
$font-20: 1.25em;
$font-16: 1em;
$font-12: 0.75em;

/* ------- media queries ------------ */
$screen-xs-min: 320px;
$screen-xs-max: 767px;

$screen-sm-min: 768px;
$screen-sm-max: 991px;